RewriteEngine on

# Redirect to url without .html at end
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Allow for url without .html trailing
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Redirect to url without .php at end
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

# Allow for url without .php trailing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Replace index.html with home.html
DirectoryIndex home.html

Redirect 302 "https://store.lesi.org.uk/aspectratiocalculator" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/icoconverter" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/passwordgenerator" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/svgconverter" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/weightconverter" "https://store.lesi.org.uk"

Redirect 302 "https://store.lesi.org.uk/aspectratiocalculator/" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/icoconverter/" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/passwordgenerator/" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/svgconverter/" "https://store.lesi.org.uk"
Redirect 302 "https://store.lesi.org.uk/weightconverter/" "https://store.lesi.org.uk"
